@use "../../base/_vars.scss" as vars;

@font-face {
    font-family: vars.$roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: vars.$roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: vars.$roboto;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}