$bodyColor: #222226;
$blockColor: rgba(20, 20, 20, 1);
$selectedVideo: rgba(9, 51, 3, 1);
$textColor: #ffffff;

$scrollbarThumb: #1A1A1B;
$scrollbarThumbBorder: #2b2b2c;

$inputBackground: #1A1A1B;
$inputBorder: #ffffff;

$hoverItem: rgb(29, 29, 29);

$raleway: "Raleway";
$roboto: "Roboto";